@import "bootswatch/dist/slate/_variables.scss";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/slate/_bootswatch.scss";

body {
	padding-top: 20px;
}

.container-fluid {
	padding-left: 7%;
	padding-right: 7%;
}

.table {
	width: 100%;	
	table-layout: fixed;
}

th, td {
   	line-height: 1.0;
   	text-overflow: ellipsis;
	overflow: hidden;
}

.step td:first-child {
	padding-left: 15px;
}

.step, .check, .log, .attachment, .url {
	background-color: #353d44;
}

.step_entry td:first-child, .test_status {
    text-align: center ! important;
    vertical-align: middle ! important;
}

.attachment img {
    max-width: 100%;
    max-height: 100%;
}

.test td {
    vertical-align: middle ! important;
}

.check_description, .check_result {
	white-space: pre-wrap;
}

.extra-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.time-extra-info {
	font-size: 13px;
}

.visibility-slave {
    visibility: hidden;
}

.visibility-master:hover .visibility-slave {
    visibility: visible;
}

.special {
	font-style: italic;
}

pre, samp {
    border: 0px;
    padding: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.anchorlink {
    text-decoration: none;
    opacity: 0.5;
}

.anchorlink:hover, .anchorlink:focus {
    text-decoration: none;
    opacity: 1;
}

.multi-line-text {
	white-space: pre-line;
}

h2 {
	margin-top: 20px;
}

h5 {
	margin-top: 1px;
	margin-bottom: 1px;
}

h6 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.table tbody {
	border-top-width: 0px !important;
	border-top-style: none !important;
	border-top-color: inherit !important;
}

.table {
	margin-bottom: 0px ! important;
}

.card {
	margin-bottom: 20px;
}

/* Customize font sizes */

$content-font-size: 13px;

samp {
	font-size: $content-font-size;
}

table {
	font-size: $content-font-size;
}

h4 {
	font-size: 18px;
}

h4 small {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h5 small {
	font-size: 13px;
	font-weight: 300;
}

h6 {
	font-size: 14px;
}

.test_status {
	font-size: 14px;
	font-weight: 600;
}